<ion-view hide-nav-bar="true">
  <ion-content scroll="true" overflow-scroll="false">
    <div class="spacer" style="height: 15%;"></div>

    <div class="row row-center text-center animated bounceIn"  style="margin: auto;width: 85px; height: 85px; border: 2px solid #ddd;border-radius: 45px;padding: 10px;">
      <i class="ion-android-create assertive" style="font-size: 50px;margin: auto;"></i>
    </div>


<h3 class="dark text-center padding-horizontal-10 animated slideInUp"><strong>Buat Akun<strong></h3>
    <div class="spacer" style="height: 5%;"></div>
        <div class="padding-horizontal">
        <div class="list padding-horizontal-10 animated fadeInUp">
        

        
        <div ng-hide="$root.user">
        <label class="no-padding item item-input no-border-top no-border-right-left" style="background-color:transparent">       
            <input class="font-10" type="text" ng-model="daftarData.fullname" placeholder="Nama Lengkap">
        </label>

        <br>
        <label class="item item-input" style="background-color:transparent;">            
            <i class="ion-android-person placeholder-icon font-12"></i>
            <input class="font-10" type="text" ng-model="daftarData.username" placeholder="Username">
        </label>
        <label class="item item-input" style="background-color:transparent;">            
            <i class="ion-android-mail placeholder-icon"></i>
            <input class="font-10" type="email" ng-model="daftarData.email" placeholder="Email">
        </label>
        <label class="item item-input" style="background-color:transparent;">
            <i class="icon ion-android-lock placeholder-icon font-13"></i>
            <input class="font-10" type="password" ng-model="daftarData.password" placeholder="Password">
        </label>
        </div>

        <div ng-show="$root.user">
        

        <label class="item item-input" style="background-color:transparent;">            
            <i class="ion-android-person placeholder-icon font-12"></i>
            <input class="font-10" type="text" ng-model="daftarData.username" placeholder="Username" >
        </label>
        <label class="item item-input" style="background-color:transparent;">
            <i class="icon ion-android-lock placeholder-icon font-13"></i>
            <input class="font-10" type="password" ng-model="daftarData.password" placeholder="Password">
        </label>
        </div>

        <button class="button button-block button-assertive no-padding no-border no-border-radius" ng-click="doDaftar()">
           <b>BUAT AKUN</b>
          </button>
        </div>
        </div>
       

  </ion-content>
  <ion-footer-bar class="bar bar-stable"><div class="title font-10">Sudah mempunyai akun?<strong class="positive" ui-sref="login"> Login</strong></div></ion-footer-bar>
</ion-view>
