  <ion-view view-title="Dashboard">
  <ion-content scroll="true">

    <div class="row row-center" style="height: 30%;">
      <div class="col">
      <h3 class="text-center">Total Pasien</h3>
      <h1 class="text-center font-bolder">{{pasien.length}}</h1>
      </div>
    </div>

    <ion-scroll direction="y" style="height: 70%">
      <div class="item" ng-repeat="data in pasien" ui-sref="app.detail-pasien({id: data.id})">{{data.name}}<p>{{data.keluhan}}</p></div>
    </ion-scroll>

  </ion-content>
</ion-view>
