<ion-view view-title="Detail">

  <ion-content scroll="true" overflow-scroll="false">
    <div class="item" ng-repeat="data in list">
    {{data.fullname}}
      <p>{{data.created_at}}</p>
    <span class="badge badge-assertive">{{data.status}}</span>
  </div>

      <div class="item item-text-wrap" ui-sref="app.monitoring-detail({id: data.id})" ng-repeat="data in pasien | filter:query">
      {{data.fullname}}
      <p>{{data.created_at}}</p>
      </div>
  </ion-content>
</ion-view>
