<ion-view view-title="Detail Pasien">
  <ion-content scroll="true">
    <!--<div class="spacer" style="height: 5%;"></div>-->

  <!--PERSONAL-->
    <div class="item item-divider no-border">Personal</div><br>
      <div class="list padding-horizontal">
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Nama</span>
          <input class="font-10" type="text" ng-model="data.name" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Tanggal Lahir</span>
          <input class="font-10" type="text" ng-model="data.tgl_lahir" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">No KTP</span>
          <input class="font-10" type="text" ng-model="data.ktp" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">No Telepon</span>
          <input class="font-10" type="tel" ng-model="data.mobile" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Jenis Kelamin</span>
          <input class="font-10" type="text" ng-model="data.gender" disabled>
        </label>
      
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Alamat</span>
          <textarea elastic rows="2" class="font-10" ng-model="data.alamat"></textarea>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Keluhan</span>
          <textarea elastic rows="2" class="font-10" ng-model="data.keluhan"></textarea>
        </label>
      </div>

  </ion-content>
</ion-view>
