<ion-view hide-nav-bar="true">
  <ion-content scroll="true" overflow-scroll="false">
    <div class="spacer" style="height: 15%;"></div>

    <div class="row row-center text-center animated bounceIn"  style="margin: auto;width: 85px; height: 85px; border: 2px solid #ddd;border-radius: 45px;padding: 10px;">
      <i class="ion-android-person assertive" style="font-size: 50px;margin: auto;"></i>
    </div>


    <h3 class="dark text-center padding-horizontal-10 animated slideInUp"><strong>Masuk<strong></h3>
    <div class="spacer" style="height: 5%;"></div>
    <div class="padding-horizontal">
      <div class="list padding-horizontal-10 animated fadeInUp">
        <label class="item item-input" style="background-color:transparent;">            
            <i class="ion-android-mail placeholder-icon font-11" style="padding-right: 14px"></i>
            <input class="font-10" type="text" ng-model="loginData.email" placeholder="Email">
        </label>
        <label class="item item-input" style="background-color:transparent;">
            <i class="ion-android-lock placeholder-icon font-13" style="padding-right: 14px"></i>
            <input class="font-10" type="password" ng-model="loginData.password" placeholder="Password"  ng-focus="focus2=true" ng-blur="focus2=false">
        </label>
        <button class="button button-block button-assertive no-padding no-border no-border-radius myAnimation" ng-click="doLogin(loginData)" ng-disabled="!loginData.email || !loginData.password">
           <div class="letter-spacing"><b>LOGIN</b></div>
        </button>
      </div>
    </div>
  </ion-content>
  <!-- <ion-footer-bar class="bar bar-stable"><div class="title font-10">Belum mempunyai akun?<strong class="positive" ui-sref="daftar"> Daftar</strong></div></ion-footer-bar> -->
</ion-view>
