<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button class="button-light">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
         <button class="button button-icon button-small button-clear button-light ion-navicon-round" menu-toggle="left">
        </button> 
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left"> <!--width="100 + 20"-->
    <ion-content class="background-assertive" scroll="true" overflow-scroll="true">
      <div class="spacer" style="height:5%;"></div>
      <!--<div class="text-center"><img src="img/{{icon}}.png" width="120"></div>-->
      <div class="spacer" style="border-bottom: 1px solid #fff;height:5%;" ></div>
      <ion-list >
        <ion-item class="item-assertive item-icon-left item-icon-right no-border" menu-close ui-sref="app.dash()">
          <i class="icon ion-home light font-15"></i>
          Dashboard
          <i class="icon ion-chevron-right light font-11"></i>
        </ion-item>
        <ion-item ng-hide="role == 'perawat'" class="item-assertive item-icon-left item-icon-right no-border" menu-close ui-sref="app.pasien()">
          <i class="icon ion-person-add light font-15"></i>
          Pasien Baru
          <i class="icon ion-chevron-right font-11 light"></i>
        </ion-item>
        <ion-item class="item-assertive item-icon-left item-icon-right no-border" menu-close ui-sref="app.monitoring()">
          <i class="icon ion-eye light font-15"></i>
          Monitoring
          <i class="icon ion-chevron-right font-11 light"></i>
        </ion-item>
        <ion-item ng-hide="role == 'perawat'" class="item-assertive item-icon-left item-icon-right no-border" menu-close ui-sref="app.laporan()">
          <i class="icon ion-stats-bars light font-15"></i>
          Laporan
          <i class="icon ion-chevron-right font-11 light"></i>
        </ion-item>
        <ion-item class="item-assertive item-icon-left item-icon-right no-border" menu-close ng-click="logout()">
          <i class="icon ion-log-out light font-15"></i>
          Logout
          <i class="icon ion-chevron-right font-11 light"></i>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
