<ion-view view-title="Monitoring">
  <ion-content scroll="true" class="has-header" overflow-scroll="true">
    <div class="item item-divider no-border">Diagnosis dan Obat</div>
    <ion-list can-swipe="true">
        <ion-item ng-repeat="x in diag">
          <b>{{x.kode}}</b>
          <h2>{{x.nama}}</h2>
          <ion-option-button class="button-info" ng-click="delDiag($index)">Hapus</ion-option-button>
        </ion-item>
    </ion-list>
        <div class="padding-vertical text-center">
          <button class="button button-positive" modal-select="" on-select="addDiag(newValue, oldValue)" ng-model="diagnosa" options="penyakit"  modal-title="Diagnosa" has-search="true">
                Tambahkan Diagnosis
                <div class="option item-text-wrap">
                <h2>{{option.diagnosa}}</h2><p>{{option.des}}</p>
                </div>
              </button>
        </div>
    <div class="list">
        <div ng-repeat="input in inputs">
          <div class="item item-divider">Obat {{$index+1}}</div>
            <label class="item item-input padding-right">
              <input type="text" placeholder="Nama Obat" ng-model="input.nama" />
            </label>
            <label class="item item-input item-text-wrap">
              <input type="text" placeholder="Aturan Pakai" ng-model="input.aturan" />
           </label>
           <div class="text-center padding-vertical">
        <button class="button button-positive ion-plus" ng-if="$index == inputs.length - 1" ng-click="addInput()">Tambah</button>
        <button class="button button-outline button-assertive ion-minus" ng-if="$index != inputs.length - 1" ng-click="removeInput($index)">Hapus</button>
        </div>
    </div>
        <div class="text-center padding">
          <button class="button button-block button-assertive" ng-click="addDiagnosa()">Lanjutkan</button>
        </div>
      </div>
  </ion-content>
</ion-view>
