<ion-view view-title="Monitoring">

  <ion-content scroll="true" class="has-header" overflow-scroll="true">

    <div class="item item-divider no-border">Tanda Vital</div><br>
      <div class="list padding-horizontal">
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Suhu Tubuh</span>
          <input class="font-10" type="number" ng-model="suhu">
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Tekanan Darah</span>
          <div class="row no-padding no-margin">
            <div class="col no-padding">
          <input class="font-10" type="number" ng-model="tekanan1">
            </div>
            <div class="col col-10"><h2 class="text-center font-13">/</h2></div>
            <div class="col no-padding no-margin">
          <input class="font-10" type="number" ng-model="tekanan2">
            </div>
          </div>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Denyut Nadi</span>
          <input class="font-10" type="number" ng-model="denyut">
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Pernapasan</span>
          <input class="font-10" type="number" ng-model="pernapasan">
        </label>
        <div class="text-center padding-vertical" ng-if="monitoring">
          <button class="button button-assertive" ng-click="doMonitor(suhu, denyut, tekanan1, tekanan2, pernapasan)">Submit</button>
        </div>
        <div class="text-center padding-vertical" ng-if="!monitoring">
          <button class="button button-assertive" ng-click="doSubmit()">Berikutnya</button>
        </div>
      </div>

  </ion-content>
</ion-view>
