<ion-view view-title="Detail" hide-back-button="false">
  <ion-content scroll="true" class="has-header">
<div class="item">
  <p>Nomor Pasien</p>
  {{pasien.no_pasien}}
</div>
<div class="item">
  <p>Nama</p>
  {{pasien.name}}
</div>
<div class="item">
  <p>Tanggal lahir</p>
  {{pasien.tgl_lahir | date}}
</div>
<div class="item">
  <p>Umur</p>
  {{pasien.umur}}
</div>
  <div class="text-center item padding font-bolder">Penyakit</div>
  <div class="item">
    <p>{{pasien.kode}}</p>
    {{pasien.diagnosa}}
  </div>
  <div class="text-center item padding font-bolder">Obat</div>

  <div ng-repeat="obat in obats">
      <div class="item">
        <p>{{obat.name}}</p>
        {{obat.aturan}}
      </div>
  </div>
    
<div class="text-center padding" ng-if="pernafasan.length==0 && suhu.length==0 && tekanan.length==0 && denyut.length==0">
  <br> <b>Tidak ada data monitoring</b><br><br>
  <button class="button button-positive" ui-sref="app.monitoring-add({id:pasien.id,monitoring: true})">Tambahkan data</button>
</div>
      <div ng-if="pernafasan.length>1" class="card" ng-click="detailGrafik('pernafasan')">
      <div class="text-center item padding font-bolder">Pernapasan</div>
       <div class="padding-top">
         <ion-scroll direction="x" class="wide-as-needed">
            <canvas width="200" class="chart chart-line" chart-data="pernafasan" chart-labels="labelPernafasan"
                  chart-colors="['#3498db']" chart-options="options" chart-dataset-override="datasetOverride1">
            </canvas>
         </ion-scroll>
      </div>
      </div>
      <div ng-if="suhu.length>1" class="card" ng-click="detailGrafik('suhu_tubuh')">
      <div class="text-center item padding font-bolder">Suhu Tubuh</div>
       <div class="padding-top">
         <ion-scroll direction="x" class="wide-as-needed">
      <canvas height="200" class="chart chart-line" chart-data="suhu" chart-labels="labelSuhu"
                  chart-colors="['#2ecc71']" chart-options="options" chart-dataset-override="datasetOverride1">
      </canvas>
         </ion-scroll>
      </div>
      </div>
      <div ng-if="tekanan.length>1" class="card" ng-click="detailGrafik('tekanan_darah')">
      <div class="text-center item padding font-bolder">Tekanan Darah</div>
       <div class="padding-top">
         <ion-scroll direction="x" class="wide-as-needed">
      <canvas height="200" class="chart chart-line" chart-data="tekanan" chart-labels="labelTekanan"
                  chart-colors="['#9b59b6']" chart-options="options" chart-dataset-override="datasetOverride2">
      </canvas>
         </ion-scroll>
      </div>
      </div>
      <div ng-if="denyut.length>1" class="card" ng-click="detailGrafik('denyut_nadi')">
      <div class="text-center item padding font-bolder">Denyut Nadi</div>
       <div class="padding-top">
         <ion-scroll direction="x" class="wide-as-needed">
      <canvas height="200" class="chart chart-line" chart-data="denyut" chart-labels="labelDenyut"
                  chart-colors="['#e67e22']" chart-options="options" chart-dataset-override="datasetOverride2">
      </canvas>
         </ion-scroll>
      </div>
      </div>
      </ion-content>                                
</ion-view>
