<ion-view view-title="Monitoring">
<div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="text" ng-model="query" placeholder="Cari">
  </label>

</div>
  <ion-content scroll="true" class="has-subheader" overflow-scroll="false">
      <div class="item item-text-wrap" ui-sref="app.monitoring-add({id: data.id, monitoring: true})" ng-repeat="data in pasien | filter:query">
      {{data.name}}
      <p>{{data.keluhan}}</p>
      </div>
  </ion-content>
</ion-view>
