<ion-view view-title="Pasien">
  <ion-content scroll="true">
    <!--<div class="spacer" style="height: 5%;"></div>-->

  <!--PERSONAL-->
    <div class="item item-divider no-border">Personal</div><br>
      <div class="list padding-horizontal">
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Nama</span>
          <input class="font-10" type="text" ng-model="data.name">
        </label>
        <label ng-click="pickDate()" class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Tanggal Lahir</span>
          <input class="font-10" type="text" ng-model="data.tgl_lahir" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Umur</span>
          <input class="font-10" type="text" ng-model="data.umur" disabled>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">No KTP</span>
          <input class="font-10" type="number" ng-model="data.ktp">
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">No Telepon</span>
          <input class="font-10" type="tel" ng-model="data.mobile">
        </label>
        <div class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Jenis Kelamin</span>
          <div class="button-bar padding-vertical  no-border">
            <div class="font-10 no-border" grouped-radio="'Laki-laki'" ng-model="data.gender">Laki-laki</div>
            <div class="font-10 no-border" grouped-radio="'Perempuan'" ng-model="data.gender">Perempuan</div>
          </div>
        </div>
      
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Alamat</span>
          <textarea elastic rows="2" class="font-10" ng-model="data.alamat"></textarea>
        </label>
        <label class="item item-input padding-right item-stacked-label no-border-right-left no-border-top">
          <span class="input-label">Keluhan</span>
          <textarea elastic rows="2" class="font-10" ng-model="data.keluhan"></textarea>
        </label>
        <div class="text-center padding-vertical">
          <button class="button button-block button-assertive no-padding no-border no-border-radius" ng-click="doPasien(data)">
           <div class="letter-spacing"><b>SUBMIT</b></div>
          </button>
        </div>
      </div>

  </ion-content>
</ion-view>
