.welcome{
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  padding-top: 15%;
  height: 55%;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.pick-date .popup {
  width: 90% !important;
  background-color: rgba(255, 255, 255, 1)!important;
}
.pick-date .popup-head {display: none;}
.pick-date .popup-body {padding: 0px; }

.pick-date .popup-buttons {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 15px;}
.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}